.box{
    background-color: gray;
    width: 500px;
    height: 1200px;
    border-radius: 55px;
    padding-top: 44px;
    padding-left:22px;

}
#cityname{
 font-size: xx-large;

}
#sup{
    font-size: xx-large;

}
#tolov {
    font-size: xx-large;
}

#temp{
    font-size: xx-large;
}